

.mui-content{
	background: #fff;	
	padding-bottom: 150px;
}


.mui-content header h1{
	font-size:14px;
	font-weight: bold;
}
.banner{
	text-align: center;
}
.banner p:first-child{
	margin-top:20px;
	margin-bottom: 0;
}
.banner p:first-child img{
	width: 20px;
}
.banner p:last-child{
	width: 85%;
	font-size:12px;
	font-family: verdana;
	font-weight: 600;
	color:#333;
	margin-left: auto;
	margin-right:auto;
}
.banner h5{
	font-size: 20px;
	font-family: verdana;
	color:#000;
	font-weight: 800;	
	margin-top:0;
}
.banner .of{
	width: 100%;
	display: -webkit-flex; /* Safari */
  	display: flex;	
  	padding-top:10px;
  	justify-content: center;
  	color:#555;
  	margin-bottom: 10px;
}
.banner .of span{
	width: 25%;
	height: 1px;
	background: #999;
	margin:10px 5px 0;
}
.banner .h6{
	background:-webkit-linear-gradient(#ffc915,#ff3700,#ef0e0e,#ff3700,#f75e1a);
	width: 80%;
	padding:8px 0;
	font-family: verdana;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.banner .h6 img{
	position: absolute;
	height: 65px;
}
.banner .h6 img:first-child{
	top: -13px;
	left:-25px;
}
.banner .h6 img:last-child{
	top: -13px;
	right:-25px;
}
.banner .h6 h6{
	font-size: 13px;
	color:#fff;	
	font-weight: 600;
}
.banner .bank-logo img{
	width: 100%;
}












